---
import { Image } from "astro:assets";
import type { HIWPhase } from "../../../interface/HIWPhase";
import type { ImageInterface } from "../../../interface/Image";

export interface Props {
  hiwPhase: HIWPhase[];
  images: ImageInterface[];
}

const { hiwPhase, images } = Astro.props;

const IMAGE_POSTION = [0, 2, 8];
const BACKGROUND = ["bg-left", "bg-right-bottom", "bg-center"];
---

<div class="relative mx-auto flex flex-col gap-32">
  {
    hiwPhase.map(({ title, description }, index) => (
      <section id={title.toLowerCase()} class="relative lg:w-10/12 lg:mx-auto">
        <div id={`step-${index}`} class="relative transition-all duration-300">
          <div class="grid grid-cols-1 lg:grid-cols-[1fr_0.25fr_1fr] justify-between items-center lg:gap-20 z-30 relative lg:min-h-[300px] py-10">
            <div
              class={`flex flex-col items-center lg:items-start gap-10 order-3 ${
                index === 1 ? "lg:order-3" : "lg:order-1"
              }`}
            >
              <h3 class="text-4xl font-semibold">{title}</h3>
              <div class="text-gray-500 flex flex-col gap-3 items-center lg:items-start w-11/12 sm:w-2/3 lg:w-full">
                {description.split(".").map((item) => (
                  <p class="text-lg font-light text-center lg:text-start">{`${item}${
                    !!item ? "." : ""
                  }`}</p>
                ))}
                <a
                  href={`${Astro.url.href}/${title.toLowerCase()}`}
                  id="step-detail"
                  data-index={index}
                  class="text-primary text-md font-semibold text-start"
                >
                  Step details
                </a>
              </div>
            </div>
            <div class="mx-auto order-1 lg:order-2">
              <div class="bg-white rounded-full w-16 h-16 flex justify-center items-center text-lg font-semibold shadow-2xl">
                {index + 1}
              </div>
            </div>
            <div
              class={`order-2 ${
                index === 1 ? "lg:order-1" : "lg:order-3 lg:ml-auto"
              }`}
            >
              <div class="lg:backdrop-blur-2xl lg:max-w-[300px] rounded-3xl flex justify-center items-center lg:shadow-xl p-6">
                <Image
                  class={`${
                    index < 2 ? "-mt-32 lg:-mt-[4.5rem]" : ""
                  } max-w-96 maw-h-96 lg:h-[250px] lg:w-[250px]`}
                  src={images[IMAGE_POSTION[index]]}
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>
          <div
            class={`absolute z-20 lg:z-10 ${
              index === 1 ? "bg-[#E9F0FE]" : "bg-violet-100"
            } w-full lg:max-w-3xl h-full top-0 bottom-auto right-0 left-0 rounded-3xl mx-auto
              bg-[url('https://uploads-ssl.webflow.com/605ba92cee75fcdebfce666c/605ba92cee75fc1085ce66eb_Wave%20Purple.svg')] ${
                BACKGROUND[index]
              }
            `}
            style="background-size: 200%"
          />
        </div>
      </section>
    ))
  }
  <div class="z-10 line"></div>
</div>

<style>
  .line {
    position: absolute;
    left: calc(50% - 5px);
    top: 14%;
    right: auto;
    bottom: auto;
    width: 9px;
    height: 70%;
    background-image: url(https://uploads-ssl.webflow.com/605ba92cee75fcdebfce666c/605ba92cee75fc8b48ce6702_Dot.svg);
    background-position: 50% 50%;
    background-size: 12px;
    background-repeat: repeat-y;
  }
</style>
