---
import { Image } from "astro:assets";
import type { HIWPhase } from "../../../interface/HIWPhase";
import type { ImageInterface } from "../../../interface/Image";

export interface Props {
  hiwPhase: HIWPhase[];
  images: ImageInterface[];
}

const { hiwPhase, images } = Astro.props;

const IMAGE_POSTION = [0, 2, 8];
const BACKGROUND = ["bg-left", "bg-right-bottom", "bg-center"];

let imagePostion = -1;
---

<div class="relative mx-auto flex flex-col gap-32">
  {
    hiwPhase.map(({ title, description, steps }, index) => (
      <section id={title.toLowerCase()} class="relative w-10/12 mx-auto">
        <div id={`step-${index}`} class="relative transition-all duration-300">
          <div class="grid grid-cols-[1fr_0.25fr_1fr] justify-between items-center gap-20 z-10 relative min-h-[300px] py-10">
            <div
              class={`flex flex-col gap-10 ${
                index === 1 ? "order-3" : "order-1"
              }`}
            >
              <h3 class="text-4xl font-semibold">{title}</h3>
              <div class=" text-gray-500 flex flex-col gap-3">
                {description.split(".").map((item) => (
                  <p class="text-lg font-light">{`${item}${
                    !!item ? "." : ""
                  }`}</p>
                ))}
                <button
                  id="step-detail"
                  data-index={index}
                  class="text-primary text-md font-semibold text-start"
                >
                  Step details
                </button>
              </div>
            </div>
            <div class="mx-auto order-2">
              <div class="bg-white rounded-full w-16 h-16 flex justify-center items-center text-lg font-semibold shadow-2xl">
                {index + 1}
              </div>
            </div>
            <div class={index === 1 ? "order-1" : "order-3 ml-auto"}>
              <div class="backdrop-blur-2xl max-w-[300px] rounded-3xl  flex justify-center items-center shadow-xl p-6">
                <Image
                  class={`${
                    index < 2 ? "mt-[-4.5rem]" : ""
                  } h-[250px] w-[250px]`}
                  src={images[IMAGE_POSTION[index]]}
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>
          <div
            class={`absolute ${
              index === 1 ? "bg-[#E9F0FE]" : "bg-violet-100"
            } w-full max-w-3xl h-full top-0 bottom-auto right-0 left-0 rounded-3xl mx-auto
              bg-[url('https://uploads-ssl.webflow.com/605ba92cee75fcdebfce666c/605ba92cee75fc1085ce66eb_Wave%20Purple.svg')] ${
                BACKGROUND[index]
              }
            `}
            style="background-size: 200%"
          />
        </div>
        <div
          id={`detail-${index}`}
          class="absolute right-[200%] z-20 h-full flex justify-center items-end"
        >
          <div
            class={`bg-white shadow-xl rounded-3xl grid grid-cols-2 ${
              index > 0 ? "h-full" : " h-auto"
            }`}
          >
            {steps.map((item, stepIndex) => {
              imagePostion += 1;
              return (
                <div
                  class={`${[0, 2].includes(stepIndex) ? "border-r" : ""} ${
                    steps.length > 2 && [0, 1].includes(stepIndex)
                      ? "border-b"
                      : ""
                  } `}
                >
                  <div class="flex flex-col gap-4 p-10 justify-around h-full">
                    <Image
                      src={images[imagePostion]}
                      alt=""
                      loading="lazy"
                      width={100}
                      height={100}
                    />
                    <h5 class="text-xl font-medium">{`${stepIndex + 1}. ${
                      item.title
                    }`}</h5>
                    <p class="text-md text-slate-400">{item.description}</p>
                  </div>
                </div>
              );
            })}
          </div>
        </div>
      </section>
    ))
  }
  <div class="line"></div>
</div>

<style>
  .line {
    position: absolute;
    left: calc(50% - 4px);
    top: 14%;
    right: auto;
    bottom: auto;
    z-index: 2;
    width: 9px;
    height: 70%;
    background-image: url(https://uploads-ssl.webflow.com/605ba92cee75fcdebfce666c/605ba92cee75fc8b48ce6702_Dot.svg);
    background-position: 50% 50%;
    background-size: 12px;
    background-repeat: repeat-y;
  }
</style>
