---
import CTAFooter from "../../components/sections/CTAFooter.astro";
import HeroBanner from "../../components/sections/HowItWork/HeroBanner.astro";
import StepBanner from "../../components/sections/HowItWork/StepBanner.astro";
import PackagesBanner from "../../components/sections/HowItWork/Packages.astro";
import BasePage from "../../layouts/BasePage.astro";
import "@splidejs/splide/css/core";
import "@splidejs/splide/css";
import Container from "../../components/shared/Container.astro";
import FAQs from "../../components/sections/FAQs.astro";
import { HIW_LIST, PACKAGES } from "../../config";

const images = await Astro.glob(
  "/src/assets/images/house-construction-phase/*"
).then((files) => {
  return files.map((file) => file.default);
});

//https://www.freepik.com/author/user17392997/icons/pixel-perfect-tritone_347?t=f&query=chart+rise

const FAQS = HIW_LIST.reduce((faqs: any, item) => {
  item.steps.forEach((element) => {
    faqs.push({
      question: element.question,
      answer: element.description,
      image: images[element.imageIndex],
    });
  });

  return faqs;
}, []);
---

<BasePage>
  <HeroBanner />
  <div class="flex flex-col gap-32 bg-white py-32">
    <Container className="flex flex-col gap-32">
      <StepBanner hiwPhase={HIW_LIST} images={images} />
    </Container>
    <PackagesBanner packages={PACKAGES} />
    <FAQs faqs={FAQS} />
  </div>
  <CTAFooter />

  <script>
    // const btnSteps = document.querySelectorAll("#step-detail");

    // btnSteps.forEach((item) => {
    //   item.addEventListener("click", () => {
    //     const index = item.getAttribute("data-index");

    //     document.getElementById(`step-${index}`).classList.add("left-[-130%]");
    //     document.getElementById(`detail-${index}`).classList.add("!right-0");
    //   });
    // });
  </script>

  <style>
    [id^="step-"] {
      transition: left 0.3s ease;
    }

    /* Select all elements with ID starting with 'detail-' */
    [id^="detail-"] {
      transition: right 0.3s ease;
    }
  </style>
</BasePage>
