---
import Container from "../shared/Container.astro";
import POSTER_IMAGE from "../../assets/images/services/content.png";
import PAID_ADVERTISING from "../../assets/images/services/paid-advertising.png";
import WEB_AND_SEO from "../../assets/images/services/web-and-seo.png";
import CRM from "../../assets/images/services/CRM.png";
import { Image } from "astro:assets";
import { SERVICE_LIST } from "../../config";
---

<section id="qoute" class="bg-gray-50">
  <Container className="py-40 flex flex-col gap-10 justify-center items-center">
    <h2 class="text-4xl font-semibold">
      <span class="italic text-primary mr-2 font-bold">Out With the</span>Old
      Rules
    </h2>
    <div id="services" class="grid grid-cols-2 xl:grid-cols-4 justify-center gap-3">
      {
        SERVICE_LIST.map((item, index) => (
          <span
            id={`service-${index}`}
            class="service rounded-full cursor-pointer font-semibold text-lg border border-black px-7 py-2 hover:text-white hover:bg-primary hover:border-primary transition-all duration-300"
          >
            {item.title}
          </span>
        ))
      }
    </div>
    <div class="device device-macbook-pro-2018 !scale-[60%] sm:!scale-75 md:scale-100">
      <div class="device-frame">
        <Image
          class="device-screen !absolute top-[29px] opacity-0 transition-opacity duration-300 !object-contain opacity-100"
          src={WEB_AND_SEO}
          alt=""
        />
        <Image
          class="device-screen !absolute top-[29px] opacity-0 transition-opacity duration-300 !object-contain"
          src={POSTER_IMAGE}
          alt=""
        />
        <Image
          class="device-screen !absolute top-[29px] opacity-0 transition-opacity duration-300"
          src={PAID_ADVERTISING}
          alt=""
        />
        <Image
          class="device-screen !absolute top-[29px] opacity-0 transition-opacity duration-300"
          src={CRM}
          alt=""
        />
      </div>
      <div class="device-stripe"></div>
      <div class="device-header"></div>
      <div class="device-sensors"></div>
      <div class="device-btns"></div>
      <div class="device-power"></div>
      <div class="device-home"></div>
    </div>
  </Container>
</section>

<script>
  const serviceDeviceImgEls = document.querySelectorAll("#qoute .device img");

  const handleServicesElClicked = (index) => { 
    serviceDeviceImgEls.forEach((element, position) => {
      element.classList.remove("opacity-100");
      if (index === position) {
        element.classList.add("opacity-100");
      }
    });
  }

  document.addEventListener("DOMContentLoaded", (_) => {
    const servicesEl = document.querySelectorAll("#qoute #services span");
    servicesEl.forEach((item, index) => {
      item.addEventListener("mouseover", (_) => {
        handleServicesElClicked(index);
      });
      // item.addEventListener("touchtart", (_) => { 
      //   handleServicesElClicked(index);
      //   console.log('123')
      // })
    });
  });
</script>
