---
import { Image } from "astro:assets";

import portraitImage from "../../assets/images/portrait.png";
import columnChart from "../../assets/images/column-chart.png";
import followGrow from "../../assets/images/follow-grow.png";
import circleChart from "../../assets/images/circle-chart.png";
---

<div
  class="w-full lg:w-1/2 relative flex justify-center lg:max-h-none max-h-96 lg:min-h-[37.5rem]"
>
  <!-- <div class="absolute m-auto hidden lg:block lg:top-[-20rem] lg:left-[-18rem]">
    <lottie-player
      class="sm:w-[35rem] sm:h-[35rem] lg:w-[70rem] lg:h-[70rem] blur-none"
      src="lotte-files/circle-wave.json"
      background="“Transparent”"
      speed="0.8"
      direction="1"
      mode="bounce"
      loop
      autoplay></lottie-player>
  </div> -->

  <!-- <img
    src="images/blue 1.png"
    alt="Hero image" 
    class="lg:absolute lg:w-full lg:h-full rounded-3xl object-contain lg:object-fit"
  /> -->

  <Image
    src={portraitImage}
    alt="descriptive text"
    class="lg:absolute lg:w-full lg:h-full rounded-3xl object-contain lg:object-fit"
  />
  <Image
    src={columnChart}
    alt="Hero image"
    class="absolute bottom-0 left-0 md:w-4/12 lg:w-1/2 w-4/12"
  />
  <Image
    src={followGrow}
    alt="Hero image"
    class="absolute bottom-0 right-0 md:w-4/12 lg:w-1/2 w-4/12"
  />
  <Image
    src={circleChart}
    alt="Hero image"
    class="absolute top-[5rem] lg:top-[10rem] right-0 md:w-4/12 lg:w-1/2 w-4/12"
  />
  <!-- <div
    class="rounded-full bg-[#AAD2DE] w-[15rem] h-[15rem] lg:w-[30rem] lg:h-[30rem] bottom-[0rem] absolute z-[-1]"
  >
  </div> -->

  <!-- <Image 
  src={heroImage}
  width={596}
  height={c}
  alt="Hero Banner Image"
/> -->
</div>
